
{% extends 'base.html.twig' %}
{% block head %}

<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end -->
{% endblock %}

{% block body %}


    <style type="text/css" >
        .Formulairadmin {
            background-color: #92c83f;
            font-family: verdana;
            font-size: 15px;
            color: #ffffff;
            height: 1cm;
        }
        .Bouton {
            border: 1pt solid #00a65a;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            color: #00a65a;
            text-decoration: none;
            font-size: 14px;
           width: 90%;
            height: 1cm;
            align: center;
            margin: 7px;

        }
        .reservations{
            background-color: #BF3E26;
            font-size: 13pt;
            margin-bottom: 50px;
           align-items: center;
            align-self: center;
        }

        .reservations a{
            color:#98fb98;
        }
        .reservations a:hover ,.reservations a:focus , .reservations a:visited{
            color:#98fb98;
        }
        .pagination > li > a,
        .pagination > li > span{
            color: #BF3E26;

        }

        .pagination > li > a:hover,
        .pagination > li > span:hover,
        .pagination > li > a:focus,
        .pagination > li > span:focus{
            background-color: #98fb98;
            color:#BF3E26;
        }
        .pagination > .active > a,
        .pagination > .active > span,
        .pagination > .active > a:hover,
        .pagination > .active > span:hover,
        .pagination > .active > a:focus,
        .pagination > .active > span:focus{
            background-color: #1C8C42;
            color: #ffffff;
            border: 1px solid #dddddd;
        }

        #myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
    </style>

    <!-- Just an image -->


    <br>
    <br>
    <br>
<div class="container-fluid" align="center">

    <img src="{{ asset('templatePi/login_v1/images/omegaplus.PNG') }}" alt="IMG" style="margin-right: 25px;">

    <div class="col-md-12">
        <div class="panel panel-default">


            <div  style="alignment: center">

                <form  autocomplete="off"
                      class="form-horizontal ls_form" style="width: 600px  ">

                    <div class="row">
                        <table style="background-color:#00a65a;width: 600px ; align-self: center ;border : 2px"  border="2px">
                            <tbody>
                            <tr align="center" class="Formulairadmin">
                                <td colspan="4"><h5 style="font-weight:200;margin: .5rem;">Critéres de recherche</h5></td>
                            </tr>
                            <tr class="Formulairadmin">
                                <td colspan="2" style="width:50%">
                                    <label for="PanneauZoneId" style="margin:.5rem">Région</label>
                                   {# <input name="code" class="Bouton" type="text" value=""
                                           id="search">#}


                                    {% if regie|length>0 %}
                                        <select id="search" class="form-control" name="code[]">
                                            {% for regie in regie %}
                                                <option value="{{ regie['regie'] }}">{{ regie['regie'] }}</option>
                                            {% endfor %}
                                        </select>
                                    {% endif %}
                                </td>
                                <td colspan="2" style="width:50%">
                                    <label for="PanneauZoneId" style="margin:.5rem">Support</label>
                                    {#<input name="code" class="Bouton" type="text" value=""
                                           id="search1">#}
                                    {% if support|length>0 %}
                                    <select id="search1"  class="form-control" multiple name="code[]">
                                        {% for support in support %}
                                        <option value="{{ support['support'] }}">{{ support['support'] }}</option>
                                        {% endfor %}
                                    </select>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr  class="Formulairadmin">
                                <td colspan="2" style="width:50%">
                                    <label for="PanneauCode" style="margin:.5rem">Code</label>

                                    {% if code_face|length>0 %}
                                        <select id="search2"  class="form-control" multiple name="code[]">
                                            {% for code_face in code_face %}
                                                <option value="{{ code_face['codeFace'] }}">{{ code_face['codeFace'] }}</option>
                                            {% endfor %}
                                        </select>
                                    {% endif %}
                                       {# <input name="code" class="Bouton" type="text" value=""
                                               id="search2">#}

                                </td>
                                <td colspan="2" style="width:50%">
                                    <label for="PanneauEmplacementId" style="margin:.5rem">Emplacement</label>

                                   {# <input name="code" class="Bouton" type="text" value=""
                                           id="search3">#}
                                    {% if emplacement|length>0 %}
                                        <select id="search3"  class="form-control" multiple name="code[]">
                                            {% for emplacement in emplacement %}
                                                <option value="{{ emplacement['emplacement'] }}">{{ emplacement['emplacement'] }}</option>
                                            {% endfor %}
                                        </select>
                                    {% endif %}
                                </td>

                            </tr>
                            <tr align="center" class="Formulairadmin">
                                <td colspan="4">



                                            <button id="submit" type="button" class="btn btn-primary" style="background-color: #94979e;border-color: #94979e;margin: 5px;">Afficher</button>

                                            <br>



                                </td>


                            </tr>
                            </tbody>
                        </table>
                    </div>

                </form>

            </div>
        </div>
    </div>
    <br>
    <br>
    <br>

    <div class="col-md-12">
        <div class="panel panel-default">

            <div class="panel-heading" style="background-color: #00a65a">
                <h3 class="panel-title"style="color:white;font-weight: 200;background-color: #92c83f" >Liste des Panneaux</h3>
            </div>
            <div class="panel-body">


                <table class="table table-bordered table-striped" cellspacing="0" id="tableac" border="2" width="100%">
                    <thead style="color: #00a65a">
                    <tr>

                <th>Reseau</th>
                <th>Zone</th>
                <th>Region</th>
                <th>Regie</th>
                <th>Support</th>
                <th>Format</th>
                <th>Type</th>
                <th>Codeface</th>
                <th>Departement</th>

                <th>Adresse</th>
                <th>Emplacement</th>
                <th>Traffic</th>
                <th>Map</th>
                <th>Photo</th>

            </tr>
        </thead>
        <tbody id="resultat">
        {% for mytable in mytables %}
            <tr  class="Formulairadmin" style="background-color: white ; color: black">

                <td>{{ mytable.reseau }}</td>
                <td>{{ mytable.zone }}</td>
                <td>{{ mytable.region }}</td>
                <td>{{ mytable.regie }}</td>
                <td>{{ mytable.support }}</td>
                <td>{{ mytable.format }}</td>
                <td>{{ mytable.type }}</td>
                <td>{{ mytable.codeFace }}</td>
                <td>{{ mytable.departement }}</td>

                <td>{{ mytable.adresse }}</td>
                <td>{{ mytable.emplacement }}</td>
                <td>{{ mytable.trafficRoutier2017 }}</td>
                <td><a href="https://www.google.com/maps/dir/{{mytable.xPanneau}},{{mytable.yPanneau}}/@{{mytable.xPanneau}},{{mytable.yPanneau}},18.29z">
                <img src="{{ asset('templatePi/login_v1/images/MAP.jpg') }}">
                </a></td>
                <td>
                 <img id="myImg" src="uploads/{{ mytable.photo }}" alt="" style="width:100%;max-width:300px">


                    <!-- The Modal -->
<div id="myModal" class="modal">

  <!-- The Close Button -->
  <span class="close">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01" src="uploads/{{ mytable.photo }}" >

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>


                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


            </div>
        </div>
    </div>

</div>
<nav aria-label="Page navigation example">
    <div class="pagination justify-content-center">{{ knp_pagination_render(mytables) }}</div>
</nav>
    <script src="{{ asset('js2/jquery.min.js') }}"></script>

    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>

    <script src="script.js"></script>

    <script>
    var modal = document.getElementById("myModal");

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById("myImg");
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}
    </script>
    <script>
        $(document).ready(function(){
            //search_table($(this).val());
            $('#submit').click(function (){

                var region=$("#search").val();


                //search_table($(this).val());
                var support=$("#search1").val();



                //($(this).val());
                var code=$("#search2").val();


                //search_table($(this).val());
                var emplacement=$("#search3").val();

                search_table(region,support,code,emplacement);


            });
            function search_table(region,support,code,emplacement){
                /*$('#tableac tbody tr').each(function(){
                    var found = 'false';
                    $(this).each(function(){
                        if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                        {
                            found = 'true';
                        }
                    });
                    if(found == 'true')
                    {
                        $(this).show();

                    }
                    else
                    {
                        $(this).hide();

                    }
                });*/


                $.ajax({
                    type: 'POST',
                    dataType: "json",
                    url: "{{ path('mytable_search') }}",
                    data: {
                        emplacement: emplacement,
                        code: code,
                        region: region,
                        support: support
                    },
                    success: function (data) {
                        if (data.response == "success") {

                            $('#resultat').empty();

                            $('#tableac').css({"display": "block","overflow": "scroll"});
                            var chaine='';
                            var object = data.data;
                            console.log(object);
                            for (var i in object) {
                                var d = object[i];

                                var idface=d['idface'];
                                var reseau=d['reseau'];
                                var zone=d['zone'];
                                var region=d['region'];
                                var regie=d['regie'];
                                var support=d['support'];
                                var format=d['format'];
                                var type=d['type'];
                                var code_face=d['code_face'];
                                var departement=d['departement'];
                                var adresse=d['adresse'];
                                var emplecement=d['emplecement'];
                                var traffic=d['traffic'];
                                var photo=d['photo'];
                                chaine+='<tr><td>'+reseau+'</td><td>'+zone+'</td><td>'+regie+'</td><td>'+region+'</td><td>'+support+'</td><td>'+format+'</td><td>'+type+
                                    '</td><td>'+code_face+'</td><td>'+departement+'</td><td>'+adresse+'</td><td>'+emplecement+'</td><td>'+traffic+'</td><td>'+photo+'</td></tr>'

                            }
                            $('#resultat').append(chaine);
                        }
                    }
                });
            }
        });
    </script>
{% endblock %}
